/*Google Fonts
p {
  font-family: "Noto Sans JP", sans-serif;
  font-size: font-we;
}
◯日本語ゴシック風
p {
  font-family: 'Pattaya', sans-serif;
}
◯手書き風
p {
  font-family: "Lato", sans-serif;
}
英語ゴシック風*/
/*ヘッダー*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 30px;
  background-color: #ffffff;
  color: #808080;
}
.header-ttl img {
  height: 70px;
  width: auto;
}
/*ヘッダーナビ*/
.header-nav-list {
  display: flex;
  text-decoration-line: none;
  color: inherit；
}
.header-nav-item:not(:last-child) {
  margin-right: 42px;
}
/*メイン*/
.main {
  width: 1000px;
  height: auto;
  color: #808080;
}
/*1番目*/
.relative {
  position: relative;
}
.relative__img {
  margin: 0 0 0 auto;
  display: block;
  width: 50%;
}
.absolute__content {
  position: absolute;
  top: 20%;
  margin-left: 30%;
  display: block;
  width: 40%;
  font-size: 50px;
  font-weight: bold;
  color: #808080; 
}
.absolute__content__ttl {
  padding: 10px;
  color: #C71585;
  font-family: 'Pattaya', sans-serif;
}
.font__color__change {
  color: #20B2AA;
  font-family: 'Pattaya', sans-serif;
}
h2 {
  padding: 10px;
  color: #C71585;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 20px;
}
.content__small__message {
  padding; 10px;
  color: #808080;
  font-family: "Lato", sans-serif;
  font-size: 14px;
}
/*2番目*/
p {
  text-align: left;
  font-family: 'Pattaya', sans-serif;
  font-size: 14px;
  color: #C71585;
}
h2 {
  font-family: "Noto Sans JP", sans-serif;
  font-size: font-we;
  color: #808080;
}
.news_table {
  border-top: 2px solid #808080;
  border-bottom: 2px solid #808080;
}
.news_table li:not(:last-child) {
  border-bottom: 1px solid #808080;
}
ul {
  width: 700px;
  margin: 0px auto;
  font-size: 14px;
}
li {
  display: flex;
  padding: 15px;
}
/*
.day {
}
*/
.label {
  background-color: #C71585;
  border-radius: 20px;
  color: #ffffff;
  padding: 2px 5px;
  margin: 0px 5px;
}
/*
.text {
}
/*3番目*/
.third__ttl {
  text-align: center;
}
h3{
  padding: 20px 0px 0px 0px;
  font-family: 'Pattaya', sans-serif;
  font-size: 14px;
  color: #C71585;
}
h2 {
  font-family: "Noto Sans JP", sans-serif;
  color: #808080;
}
.about {
  background-color: #f5f5f5;
  padding: 30px 0;
  margin: 50px 0px;
}
.about__content {
  display: flex;
  justify-content: space-around;
}
.overflow-wrap {
  overflow-wrap: break-word;
  width: 38%;
  padding:15px;
  margin-top: -5px;
  margin-bottom: 10em;
  font-size: 16px;
  color: #808080;
}
.about__img img {
  width: 100%;
}
.about__img {
  width: 38%;
}
/*4番目*/
p{
  font-family: 'Pattaya', sans-serif;
  font-size: 14px;
  color: #C71585;
}
h2 {
  font-family: "Noto Sans JP", sans-serif;
  font-size: font-we;
  color: #808080;
}
.grid {
  margin: 10px 80px;
}
.grid__parent {
  /*縦*/
  grid-template-rows: 500px 500px;
  /*横*/
  grid-template-columns: 2fr 2fr;
}
.wrap__1 {
  grid-column: 1/2;
  grid-row: 1/3;
  background: #8B008B;
  /*左右上下中央寄せの記述*/
  /*
  display: flex;
  */
  align-items: center;
  justify-content: center;
  margin: 0px auto;
}
.wrap__2 {
  grid-column: 2/3;
  grid-row:1/2;
  background: #BA55D3;
  /*要素を横に均等に並べる記述*/
  display: flex;
  justify-content: space-around;
}
.wrap__3 {
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: #9370DB;
  /*要素を横に均等に並べる記述*/
  display: flex;
  justify-content: space-around;
}
.item {
  padding: 20px 20px;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  table-layout: fixed;
  display: grid;
}
.item__1 img {
  margin-top: 5px;
  margin-left: 65px;
  width: 50%;
  height: auto;
}
.item__2 img, .item__3 img {
  width: 100%;
  height: auto;
  margin-top: 5px;
  margin-left: 20px;
}
.item__1__content {
  text-align: center;
}
.item__2__content, .item__3__content {
  margin-top: 20px;
  margin-left: 50px;
  text-align: left;
}
.grid__ttl {
  margin-left: 100px;
}
.grid__ttl--1, .grid__ttl--2 {
  margin-left: 40px;
}
.grid__content {
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  /*余白を上手く作れない*/
  padding: 10px 10px;
  /*文字を決められた範囲で自動的に折り返す*/
  word-break: break-all;
}
.grid__content--1, .grid__content--2 {
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-left: 30px;
  /*余白を上手く作れない*/
  padding: 10px 10px;
  /*文字を句読点で区切る*/
  word-break: keep-all;
}
/*5番目*/
.wrapper {
background-color: #f5f5f5;
margin: 20px 0px;
padding:10px 0px;
}
p{
  font-family: 'Pattaya', sans-serif;
  font-size: 14px;
  color: #C71585;
  padding: 10px 0px;
}
h2 {
  font-family: "Noto Sans JP", sans-serif;
  font-size: font-we;
  color: #808080;
  padding: 10px 0px;
}
.wrapper--2 {
  /*
  position: relative;
  */
  display: flex;
  justify-content: space-around;
  width: 1000px;
  height: auto;
}
.card {
  width: 30%;
  height: auto;
  background-color: #ffffff;
  border: 1px solid #f5f5f5;
  border-radius: 0px 0px 20px 20px;
}
.card__img {
  /*
  position: relative;
  */
  width: 100%;
  height: auto;
}
.border-radious-top {
  /*
  position: relative;
  */
  border-radius: 20px;
}
.card__content {
  position: relative;
  padding: 15px 25px;
}
.card__cat {
  position: absolute;
  top: 0px;
  left: 2px;
  padding: 5px 10px;
  background: #C71585;
  display: inline-block;
  color: #ffffff;
  font-size: 14px;
}
.card__ttl {
  margin-bottom: 30px;
  /*
  text-align: left;
  */
  padding: 5px 0px;
  font-size: 16px;
  font-weight: 400;
  color: #808080;
}
.tag {
  font-size: 12px;
  /*親要素にtext-alignを適用すると子要素のinline-block要素に適応される*/
  text-align: right;
}
.card__date {
  /*横並びにするためにinline-blockを指定*/
  display: inline-block;
  margin-left: 25px;
  color: #808080;
  font-family: "Lato", sans-serif;
}
.card__tag {
  /*横並びにするためにinline-blockを指定*/
  display: inline-block;
  color: #808080;
  font-family: "Lato", sans-serif;
}
/*"一覧ページへ"ボタン*/
.btn {
  background-color: #ffffff;
  width: 180px;
  margin: 50px auto;
  padding: 18px;
  display: block;
  border: 3px solid #C71585;
  border-radius: 30px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  color: #C71585;
}
/*6番目*/
p{
  font-family: 'Pattaya', sans-serif;
  font-size: 14px;
  color: #C71585;
  padding: 10px 0px;
  padding-left: 70px;
}
h2 {
  font-family: "Noto Sans JP", sans-serif;
  font-size: font-we;
  color: #808080;
  padding: 10px 0px;
  padding-left: 70px;
}
table {
  width: 60%;
  margin: 0px auto;
}
table th,
table td {
  border: 1px solid #808080;
  padding: 20px;
  text-align: left;
}
table th {
  font-weight: bold;
  background-color: #f5f5f5;
}
/*7番目*/
.mv {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 50px 0px;
}
.mv1,.mv2 {
  top: 50%;
  position: relative;
}
img {
  width: 100%;
}
.card__img__1 {
 position: relative;
 background: url(img/recruit.png) no-repeat center/cover;
 height: auto;
 width: 500px;
}
.card__content__1 {
  position: absolute;
  color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card__img__2 {
 position: relative;
 background: url(img/interview.png) no-repeat center/cover;
 height: auto;
 width: 500px;
}
.card__content__2 {
  position: absolute;
  color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*8番目*/
.line-vertical {
  margin: 15px auto;
  width: 3px;
  height: 50px;
  background-color: #C71585;
}
.btn__message {
margin: 15px auto;
font-family: "Noto Sans JP", sans-serif;
font-size: 18px;
font-weight: bold;
text-align: center;
color: #808080;
}
.download__btn {
  position: relative;
  width: 200px;
  padding: 18px;
  margin: 15px auto;
  margin-bottom: 50px;
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background: linear-gradient(90deg,
  #ff1493, #C71585);
  border-radius: 30px;
  box-shadow: 0 10px 0 #8B008B ;
}
.download__btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 15px;
  background: url(../img/mailicon.svg) no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  transform: translate(0, -50%);
}
/*9番目*/
.footer {
  background: #f5f5f5;
  height: 40px;
}
.copyright__mark {
  color: #808080;
  font-family: "Lato", sans-serif;
  font-size: 10px;
  text-align: center;
  padding: 15px 0px;
}
